*.pyc
__pycache__

checkpoints/*
!checkpoints/.placeholder

data/*
!data/.placeholder
!data/features
!data/gt_summ

outputs/hyp/*
!outputs/hyp/.placeholder

outputs/ref/*
!outputs/ref/.placeholder

.DS_Store

